
.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 200px;
  height: 400px;
  border: 1px solid #666;
  border-radius: 15px;
  background: #3C4345;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.6);
}

.holder:hover {
  animation: rezeg 2s ;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.6);
}

.cam {
  width: 5px;
  height: 5px;
  border: 1px solid #555;
  border-radius: 50%;
  margin-top: 15px;
  background: #3f3F3F;
}

.speak {
  margin-top: 4px;
  margin-bottom: 15px;
  width: 40px;
  height: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #3f3F3F;
}

.screen {
  width: 185px;
  height: 300px;
  border: 1px solid #666;
  border-radius: 3px;
  background-color: #E4E4E4;
  overflow: hidden;
}

.screen .icon-cont {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.icon-cont:hover {
 transform: scale(-0.5);
}

.screen .icon {
  margin: 12px 4px;
  width: 50px;
  height: 50px;
  background: #a19a0f;
}

.screen .icon-wide {
  display: flex;
  margin: 10px 4px 5px;
  width: 177px;
  height: 40px;
  background: #199469;
}

.screen .icon-kerek {
  display: flex;
  margin: 20px auto;
  width: 90px;
  height: 90px;
  background: #e07810;
  border-radius: 50%;
}

.screen .icon-kerek:hover {
  transform: scale(1.5);
  color: #169a17
}

.screen .flair {
  margin-left: -270px;
  margin-top: -200px;
  width: 500px;
  height: 200px;
  background: rgba(13, 85, 157, 0.25);
  transform: rotate(-85deg);
}

.gomb {
  width: 35px;
  height: 35px;
  background: #3f3F3F;
  border: 1px solid #555;
  border-radius: 50%;
  margin-top: 7px;
  margin-bottom: 7px;
}

@keyframes rezeg{
  0% {
    transform: scale(1) rotate(0deg);
  }
  30% {
    transform: scale(1) rotate(0deg);
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.6);
  }
  35% {
    transform: rotate(2deg) scale(1.05);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.6);
  }
  40% {
    transform: rotate(-2deg) scale(1.05);
  }
  45% {
    transform: scale(1) rotate(0deg);
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.6);
  }
  60% {
    transform: scale(1) rotate(0deg);
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.6);
  }
  65% {
    transform: rotate(2deg) scale(1.05);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.6);
  }
  70% {
    transform: rotate(-2deg) scale(1.05);
  }
  75% {
    transform: scale(1) rotate(0deg);
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.6);
  }
}